GOOGLE_SHEET_ID=1nqeNqOx0rxpDbjyu512nuHkbmvayhh-yfASd-CZBIvI
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-service@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_PROJECT_ID=cmd-conde
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_CLIENT_ID=

# Token de autenticação entre o app Node.js e este processador
PROCESSOR_TOKEN=cmd_processor_secret_troque_isso

FRONTEND_URL=https://cmd-conde.vercel.app
PORT=5000
